<div class="container">
    <h1>Detalle de cliente</h1>
    <div class="card l">
        <table>
            <tr>
                <td>Nombre</td>
                <td>{{cliente.nombre}}</td>
            </tr>
            <tr>
                <td>CIF</td>
                <td>{{cliente.cif}}</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
        <button routerLink="/listado-clientes">Volver</button>
    </div>
</div>